---
import BaseHead from "@components/BaseHead.astro"
import BlogHeader from "@components/BlogHeader.astro"
import BlogPostPreview from "@components/BlogPostPreview.astro"

const title = `/blogs`
const description = `My Recollection on Coding, Design, and Life`

let allPosts = await Astro.glob("./blog/*.mdx")

allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
)
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />

    <style>
      .content :global(main > * + *) {
        margin-top: 1rem;
      }
      .intro {
        border-bottom: 4px solid var(--theme-divider);
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <main class="content mt-8 mb-32">
        <section class="intro pb-8 mb-8">
          <h1 class="font-bold text-[2.5rem]">{title}</h1>
          <p class="mt-2">{description}</p>
        </section>
        <section aria-label="Blog post list">
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </main>
    </div>
  </body>
</html>
