---
import type { CollectionEntry } from "astro:content"
interface Props {
  post: CollectionEntry<"blog">
}
const { post } = Astro.props
const url = `/blog/${post.id}`
---

<article
  class="post-preview mb-8 border-b border-solid border-[color:var(--theme-divider)] pb-4"
>
  <header class="flex flex-col items-start justify-center pb-4 text-left">
    <p class="publish-date m-0 text-sm font-medium">
      {post.data.publishDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' })}
    </p>
    <a href={url}
      ><h1
        class="m-0 bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-[2.25rem] font-bold text-transparent"
      >
        {post.data.title}
      </h1>
    </a>
  </header>
  <p>{post.data.description}</p>
  <a class="text-[#92a8d1]" href={url}>Read more</a>
</article>
