---
import type { MDXInstance } from 'astro';
export interface Props {
  post: MDXInstance<Record<string, any>>
}

const { post } = Astro.props
---

<article
  class="post-preview border-b border-solid border-[color:var(--theme-divider)] pb-8 mb-8"
>
  <header class="items-start flex flex-col justify-center text-left pb-8">
    <p class="publish-date text-[1.25rem] m-0">
      {post.frontmatter.publishDate}
    </p>
    <a href={post.url}
      ><h1 class="font-bold text-[2.25rem] m-0">{post.frontmatter.title}</h1>
    </a>
  </header>
  <p>{post.frontmatter.description}</p>
  <a class="text-[#92a8d1]" href={post.url}>Read more</a>
</article>

<style>
  .content :global(main > * + *) {
    margin-top: 1rem;
  }
</style>
