---
import BaseHead from "@components/BaseHead.astro"
import BlogHeader from "@components/BlogHeader.astro"
import BlogPostBase from "@components/BlogPostBase.astro"

const { frontmatter } = Astro.props
const {
  title,
  description,
  publishDate,
  name,
  heroImage,
  permalink,
  alt,
  lang,
} = frontmatter
---

<html lang={lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper prose dark:prose-invert prose-img:rounded-lg">
      <BlogPostBase {title} author={name} {heroImage} {publishDate} {alt}>
        <slot />
      </BlogPostBase>
    </div>
  </body>
</html>
