---
import BaseHead from "@components/BaseHead.astro"
import BlogHeader from "@components/BlogHeader.astro"
import BlogPost from "@components/BlogPost.astro"

const { content } = Astro.props
const { title, description, publishDate, name, heroImage, permalink, alt } =
  content
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="preload" as="stylesheet" href="/prism.css" />
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <BlogPost {title} author={name} {heroImage} {publishDate} {alt}>
        <slot />
      </BlogPost>
    </div>
  </body>
</html>
